---
import Hero from "../components/Hero.astro";

---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/index.css" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Youtuber and Web Developer from Türkiye" />
  <meta name="author" content="Onrir" />
  <meta name="keywords" content="Onrir"/>
  <meta name="theme-color" content="#a7a1fa" />

  <meta property="og:title" content="Onrir" />
  <meta property="og:description" content="Youtuber and Web Developer from Türkiye" />
  <meta property="og:image" content="/logo.png" />

  <title>Onrir</title>
  <script>
    import "boxicons";
  </script>
</head>

<body>
  <div class="main"></div>
  <main>
    <Hero />
  </main>

</body>
