---
import Hero from "../components/hero.astro";
import Description from "../components/description.astro";
import Navbar from "../components/navbar.astro";
import Projects from "../components/projects.astro";
import Footer from "../components/footer.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/index.css" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Youtuber and Web Developer from Türkiye" />
  <meta name="author" content="Onrir" />
  <meta name="keywords" content="Onrir" />
  <meta name="theme-color" content="#a7a1fa" />

  <link rel="icon" href="/logo.png" type="image/svg+xml" />

  <meta property="og:title" content="Onrir" />
  <meta
    property="og:description"
    content="Youtuber and Web Developer from Türkiye"
  />
  <meta property="og:image" content="/logo.png" />

  <title>Onrir</title>
  <script>
    import "boxicons";
  </script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body class="dark bg-background">
  <main>
    <Hero />
    <br><br>
    <Navbar />
    <Description />
    <Projects />
    <Footer />
  </main>
</body>
