<section class="p-6" id="whoami">
	<div class="container mx-auto">
		<h2 class="text-5xl font-bold ml-[-10px] text-primary">::whoAmI</h2>
		<p class="mt-4 text-xl text-text">
			Heya! I'm <b>Onrir</b>, a 16 year old Full-stack developer from Türkiye who has been programming for better or worse since I was 12.<br>
		  I also make programming related videos on Youtube. I'm currently struggling with Typescript.
		</p>

		<div class="grid gap-6 my-8 lg:grid-cols-3">
			<div class="flex flex-col p-8 space-y-4 rounded-md bg-primary">
				<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-background text-text">
          <box-icon name='globe' color='white'></box-icon>
        </div>
				<p class="text-2xl color-background">
					<b>Web Developer.</b> I am a web developer with over 3 years of experience.
				</p>
			</div>
			<div class="flex flex-col p-8 space-y-4 rounded-md bg-primary">
				<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-background text-text"><box-icon name='youtube' type='logo' color='white'></box-icon></div>
				<p class="text-2xl color-background">
					<b class="font-bold">Youtuber.</b> I make programming related videos in Turkish on Youtube.
				</p>
			</div>
			<div class="flex flex-col p-8 space-y-4 rounded-md bg-primary">
				<div class="flex items-center justify-center flex-shrink-0 w-12 h-12 text-xl font-bold rounded-full bg-background text-text"><box-icon name='podcast' color='white'></box-icon></div>
				<p class="text-2xl color-background">
					<b>Community Manager.</b> I manage the Community of Turkish Programmers, "TÜYAZ".
				</p>
			</div>
		</div>
	</div>
</section>