<footer class="bg-background">
  <div class="container px-6 py-8 mx-auto">
      <div class="flex flex-col items-center text-center">
          <a href="#">
              <img class="w-auto h-7" src="/logo.png" alt="">
          </a>

          <div class="flex gap-2  flex-wrap justify-center mt-6 -mx-4           ">
            <a class="my-2  transition-colors duration-300 transform text-gray-200  hover:text-blue-400 md:mx-4 md:my-0" href="#">Home</a>
            <a class="my-2  transition-colors duration-300 transform text-gray-200  hover:text-blue-400 md:mx-4 md:my-0" href="#">About Me</a>
            <a class="my-2  transition-colors duration-300 transform text-gray-200  hover:text-blue-400 md:mx-4 md:my-0" href="#">Projects</a>
          </div>

      </div>

      <hr class="my-6  md:my-10 border-gray-700" />

      <div class="flex flex-col gap-2 items-center sm:flex-row sm:justify-between">
          <p class="text-sm text-gray-300">© Copyright 2024. All Rights Reserved.</p>

          <div class="flex gap-2 justify-center">
            <a class="relative" href="https://github.com/onrirr">
                <box-icon name='github' type='logo' color='#ffffff' ></box-icon>
            </a>
            <a class="relative" href="https://youtube.com/@onrir">
                <box-icon name='youtube' type='logo' color='#ffffff' ></box-icon>
            </a>
            <a class="relative" href="https://reddit.com/user/ulughann">
                <box-icon name='reddit' type='logo' color='#ffffff' ></box-icon>
            </a>
            <a class="relative" href="https://discord.gg/RJBY2gTfbJ">
                <box-icon name='discord' type='logo' color='#ffffff' ></box-icon>
            </a>

          </div>
      </div>
  </div>
</footer>