<script>
  const chars = "@$½#()abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

  const randomChar = () =>
      chars[Math.floor(Math.random() * (chars.length - 1))],
    randomString = (length) =>
      Array.from(Array(length)).map(randomChar).join("");

  const card = document.querySelector(".card") as HTMLElement,
    letters = card.querySelector(".card-letters") as HTMLElement;

  const handleOnMove = (e) => {
    const rect = card.getBoundingClientRect(),
      x = e.clientX - rect.left,
      y = e.clientY - rect.top;

    letters.style.setProperty("--x", `${x}px`);
    letters.style.setProperty("--y", `${y}px`);
    letters.innerText = randomString(1500);
  };

  card.onmousemove = (e) => handleOnMove(e);
  card.ontouchmove = (e) => handleOnMove(e.touches[0]);
</script>

<section class="">
  <div class="grid max-w-screen-2xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 items-center">
    <div class="mr-auto lg:col-span-10">
      <h1 class="mono mt-0 ml-[-4px] text-6xl font-bold tracking-tight md:text-8xl xl:text-8xl text-primary">
        ONRIR<span class="mono md:align-super bg-primary text-background font-semibold px-2.5 ml-4 text-4xl sm:text-5xl mb-0 rounded">
          .dev</span>
      </h1>
      <p class="mono max-w-2xl text-text md:text-lg lg:text-xl">
        Web Developer, YouTuber, Tech Enthusiast and Highschool Student from
        Türkiye.
      </p>
      <a href="https://www.youtube.com/@onrir" target="_blank">
        <box-icon name="youtube" type="logo" color="#a7a1fa" size="md"></box-icon>
      </a>
      <a href="https://github.com/onrirr" target="_blank">
        <box-icon name="github" type="logo" color="#a7a1fa" size="md"></box-icon>
      </a>

    </div>
    <div>
      <div class="card">
        <div class="card-image">
          <img class="ico" src="/logo.png"/>
        </div>
        <div class="card-gradient"></div>
        <div class="card-letters"></div>
      </div>
    </div>
  </div>
</section>  
