<script src="../scripts/text.js"></script>

<container class="flex flex-col justify-center items-center w-full h-[100dvh]">
  <div class="card">
    <div class="card-image">
      <img class="ico" alt="logo" src="/logo.png" />
    </div>
    <div class="card-gradient"></div>
    <div class="card-letters"></div>
  </div>

  <h1 class="text-4xl font-bold text-center text-white">
    Welcome to <span class="text-blue-500 onrir">Onrir.dev</span>
  </h1>

  <p class="paragraph stext-center text-white">This is a work in progress...</p>
</container>
