<nav>
  <center>
    <ul class="nav nav-pills nav-justified inline-flex items-center text-primary mt-4">
      <li><a href="#">Home</a></li>
      <div class="w-1 h-1 bg-primary rounded-full inline-block mx-2 my-auto"></div>
      <li><a href="#whoami">WhoAmI?</a></li>
      <div class="w-1 h-1 bg-primary rounded-full inline-block mx-2 my-auto"></div>
      <li><a href="#projects">Projects</a></li>
    </ul>
  </center>
</nav>