<section class="p-6" id="projects">
  <div class="container mx-auto">
    <h2 class="text-5xl font-bold ml-[-10px] text-primary">::projects</h2>
    <p class="mb-10 mt-4 text-lg text-text">
      Open source projects that I have worked on.
    </p>
    <!-- Card Blog -->
  <!-- Grid -->
  <div class="grid lg:grid-cols-2 gap-6">
    <!-- Card -->
    <a class="acard group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
      <div class="flex-shrink-0 relative w-full rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:w-full before:h-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
        <img class="w-full h-full absolute top-0 start-0 object-cover" src="/lokum.png" alt="Image Description">
      </div>

      <div class="absolute top-0 inset-x-0 z-10">
        <div class="p-4 flex flex-col h-full sm:p-6">
          <!-- Avatar -->
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <box-icon name="go-lang" type="logo" color="#FFFFFF" class="h-[2.875rem] w-[2.875rem] border-2 border-white rounded-full"></box-icon>
            </div>
            <div class="ms-2.5 sm:ms-4">
              <h4 class="font-semibold text-white">
                Compiler, Interpreter
              </h4>
              <p class="text-xs text-white/[.8]">
                May 25, 2023
              </p>
            </div>
          </div>
          <!-- End Avatar -->
        </div>
      </div>

      <div class="absolute bottom-0 inset-x-0 z-10">
        <div class="flex flex-col h-full p-4 sm:p-6">
          <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/[.8]">
            Lokum
          </h3>
          <p class="mt-2 text-white/[.8]">
            Turkish scripting language designed to make programming more accessible for those unable to speak English.
          </p>
        </div>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="acard group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
      <div class="flex-shrink-0 relative w-full rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:w-full before:h-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
        <img class="w-full h-full absolute top-0 start-0 object-cover" src="/ydb.png" alt="Image Description">
      </div>

      <div class="absolute top-0 inset-x-0 z-10">
        <div class="p-4 flex flex-col h-full sm:p-6">
          <!-- Avatar -->
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <box-icon name="nodejs" type="logo" color="#FFFFFF" class="h-[2.875rem] w-[2.875rem] border-2 border-white rounded-full"></box-icon>
            </div>
            <div class="ms-2.5 sm:ms-4">
              <h4 class="font-semibold text-white">
                Database System
              </h4>
              <p class="text-xs text-white/[.8]">
                October 9, 2023
              </p>
            </div>
          </div>
          <!-- End Avatar -->
        </div>
      </div>

      <div class="absolute bottom-0 inset-x-0 z-10">
        <div class="flex flex-col h-full p-4 sm:p-6">
          <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/[.8]">
            yDB
          </h3>
          <p class="mt-2 text-white/[.8]">
            Basic database/local storage client for Node.js intended for rapid prototyping leveraging the power of JSON and YAML. 
          </p>
        </div>
      </div>
    </a>
    <!-- End Card --> 
    <!-- Card -->
    <a class="acard group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
          <div class="flex-shrink-0 relative w-full rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:w-full before:h-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
            <img class="w-full h-full absolute top-0 start-0 object-cover" src="/kyoshin.png" alt="Image Description">
          </div>
    
          <div class="absolute top-0 inset-x-0 z-10">
            <div class="p-4 flex flex-col h-full sm:p-6">
              <!-- Avatar -->
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <box-icon name="css3" type="logo" color="#FFFFFF" class="h-[2.875rem] w-[2.875rem] border-2 border-white rounded-full"></box-icon>
                </div>
                <div class="ms-2.5 sm:ms-4">
                  <h4 class="font-semibold text-white">
                    CSS Framework
                  </h4>
                  <p class="text-xs text-white/[.8]">
                    August 17, 2023
                  </p>
                </div>
              </div>
              <!-- End Avatar -->
            </div>
          </div>
    
          <div class="absolute bottom-0 inset-x-0 z-10">
            <div class="flex flex-col h-full p-4 sm:p-6">
              <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/[.8]">
                Kyoshin
              </h3>
              <p class="mt-2 text-white/[.8]">
                Tiny (22KiB), CSS framework designed to make web development more tolerable, insipired by TailwindCSS. 
              </p>
            </div>
          </div>
    </a>
    <!-- End card -->
            <!-- Card -->
            <a class="acard group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">
              <div class="flex-shrink-0 relative w-full rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:w-full before:h-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
                <img class="w-full h-full absolute top-0 start-0 object-cover" src="/feather.png" alt="Image Description">
              </div>
        
              <div class="absolute top-0 inset-x-0 z-10">
                <div class="p-4 flex flex-col h-full sm:p-6">
                  <!-- Avatar -->
                  <div class="flex items-center">
                    <div class="flex-shrink-0">
                      <box-icon name="nodejs" type="logo" color="#FFFFFF" class="h-[2.875rem] w-[2.875rem] border-2 border-white rounded-full"></box-icon>
                    </div>
                    <div class="ms-2.5 sm:ms-4">
                      <h4 class="font-semibold text-white">
                        Desktop Application
                      </h4>
                      <p class="text-xs text-white/[.8]">
                        November 18, 2022
                      </p>
                    </div>
                  </div>
                  <!-- End Avatar -->
                </div>
              </div>
        
              <div class="absolute bottom-0 inset-x-0 z-10">
                <div class="flex flex-col h-full p-4 sm:p-6">
                  <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/[.8]">
                    Feather Optimizer
                  </h3>
                  <p class="mt-2 text-white/[.8]">
                    Optimizer and Appsstore for Windows 10/11, written in Node.js and NW.js designed to make your PC run faster.
                  </p>
                </div>
              </div>
            </a>
            <!-- End card -->
  </div>
</section>
