<center class="projects">
  <h1 class="text-4xl font-extrabold text-center lg:text-6xl 2xl:text-7xl mb-2">
    <span
      class="text-transparent bg-gradient-to-br bg-clip-text from-teal-500 via-indigo-500 to-sky-500 dark:from-teal-200 dark:via-indigo-300 dark:to-sky-500"
    >
      Projects
    </span>
    
  </h1>
  <p class="text-text text-l lg:text-l 2xl:text-l">Here are a few projects out of the many I've worked on.</p>


  
</center>

<section class="p-6 z-[1]" id="projects">
  <div class="container mx-auto">
    <!-- Card Blog -->
  <!-- Grid -->
  <div class="grid lg:grid-cols-2 gap-6">
    <!-- Card -->
    <a class="  group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" <
     href="https://github.com/onrirr/lokum" target="_blank">
      <div class="flex-shrink-0 relative w-full rounded-xl overflow-hidden h-[350px] before:absolute before:inset-x-0 before:w-full before:h-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
        <img class="w-full h-full absolute top-0 start-0 object-cover" src="/lokum.png" alt="Image Description">
      </div>

      <div class="absolute top-0 inset-x-0 z-10">
        <div class="p-4 flex flex-col h-full sm:p-6">
          <!-- Avatar -->
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <box-icon name="go-lang" type="logo" color="#FFFFFF" class="h-[2.875rem] w-[2.875rem] border-2 border-white rounded-full"></box-icon>
            </div>
            <div class="ms-2.5 sm:ms-4">
              <h4 class="font-semibold text-white">
                Compiler, Interpreter
              </h4>
              <p class="text-xs text-white/[.8]">
                May 25, 2023
              </p>
            </div>
          </div>
          <!-- End Avatar -->
        </div>
      </div>

      <div class="absolute bottom-0 inset-x-0 z-10">
        <div class="flex flex-col h-full p-4 sm:p-6">
          <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/[.8]">
            Lokum
          </h3>
          <p class="mt-2 text-white/[.8]">
            Turkish scripting language designed to make programming more accessible for those unable to speak English.
          </p>
        </div>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="acard group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="https://github.com/onrirr/ydb" target="_blank">
      <div class="flex-shrink-0 relative w-full rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:w-full before:h-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
        <img class="w-full h-full absolute top-0 start-0 object-cover" src="/ydb.png" alt="Image Description">
      </div>

      <div class="absolute top-0 inset-x-0 z-10">
        <div class="p-4 flex flex-col h-full sm:p-6">
          <!-- Avatar -->
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <box-icon name="nodejs" type="logo" color="#FFFFFF" class="h-[2.875rem] w-[2.875rem] border-2 border-white rounded-full"></box-icon>
            </div>
            <div class="ms-2.5 sm:ms-4">
              <h4 class="font-semibold text-white">
                Database System
              </h4>
              <p class="text-xs text-white/[.8]">
                October 9, 2023
              </p>
            </div>
          </div>
          <!-- End Avatar -->
        </div>
      </div>

      <div class="absolute bottom-0 inset-x-0 z-10">
        <div class="flex flex-col h-full p-4 sm:p-6">
          <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/[.8]">
            yDB
          </h3>
          <p class="mt-2 text-white/[.8]">
            Basic database/local storage client for Node.js intended for rapid prototyping leveraging the power of JSON and YAML. 
          </p>
        </div>
      </div>
    </a>
    <!-- End Card --> 
    <!-- Card -->
    <a class="acard group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="https://github.com/onrirr/Kyoshin" target="_blank">
          <div class="flex-shrink-0 relative w-full rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:w-full before:h-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
            <img class="w-full h-full absolute top-0 start-0 object-cover" src="/kyoshin.png" alt="Image Description">
          </div>
    
          <div class="absolute top-0 inset-x-0 z-10">
            <div class="p-4 flex flex-col h-full sm:p-6">
              <!-- Avatar -->
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <box-icon name="css3" type="logo" color="#FFFFFF" class="h-[2.875rem] w-[2.875rem] border-2 border-white rounded-full"></box-icon>
                </div>
                <div class="ms-2.5 sm:ms-4">
                  <h4 class="font-semibold text-white">
                    CSS Framework
                  </h4>
                  <p class="text-xs text-white/[.8]">
                    August 17, 2023
                  </p>
                </div>
              </div>
              <!-- End Avatar -->
            </div>
          </div>
    
          <div class="absolute bottom-0 inset-x-0 z-10">
            <div class="flex flex-col h-full p-4 sm:p-6">
              <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/[.8]">
                Kyoshin
              </h3>
              <p class="mt-2 text-white/[.8]">
                Tiny (22KiB), CSS framework designed to make web development more tolerable, insipired by TailwindCSS. 
              </p>
            </div>
          </div>
    </a>
    <!-- End card -->
            <!-- Card -->
            <a class="acard group relative block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="https://github.com/onrirr/feather-optimizer" target="_blank">
              <div class="flex-shrink-0 relative w-full rounded-xl overflow-hidden w-full h-[350px] before:absolute before:inset-x-0 before:w-full before:h-full before:bg-gradient-to-t before:from-gray-900/[.7] before:z-[1]">
                <img class="w-full h-full absolute top-0 start-0 object-cover" src="/feather.png" alt="Image Description">
              </div>
        
              <div class="absolute top-0 inset-x-0 z-10">
                <div class="p-4 flex flex-col h-full sm:p-6">
                  <!-- Avatar -->
                  <div class="flex items-center">
                    <div class="flex-shrink-0">
                      <box-icon name="nodejs" type="logo" color="#FFFFFF" class="h-[2.875rem] w-[2.875rem] border-2 border-white rounded-full"></box-icon>
                    </div>
                    <div class="ms-2.5 sm:ms-4">
                      <h4 class="font-semibold text-white">
                        Desktop Application
                      </h4>
                      <p class="text-xs text-white/[.8]">
                        November 18, 2022
                      </p>
                    </div>
                  </div>
                  <!-- End Avatar -->
                </div>
              </div>
        
              <div class="absolute bottom-0 inset-x-0 z-10">
                <div class="flex flex-col h-full p-4 sm:p-6">
                  <h3 class="text-lg sm:text-3xl font-semibold text-white group-hover:text-white/[.8]">
                    Feather Optimizer
                  </h3>
                  <p class="mt-2 text-white/[.8]">
                    Optimizer and Appsstore for Windows 10/11, written in Node.js and NW.js designed to make your PC run faster.
                  </p>
                </div>
              </div>
            </a>
            <!-- End card -->
  </div>

    <center>
      <h1 class="text-2xl mt-6 font-extrabold text-center lg:text-3xl 2xl:text-4xl">
        <span class="text-transparent bg-gradient-to-br bg-clip-text from-primary via-secondary to-sky-200">
            Interested in seeing more?
        </span>
      </h1><br>
          <a href="https://github.com/onrirr" class="flex items-center lg:w-[50%] md:w-[50%] text-gray-300 justify-center gap-x-3  text-sm sm:text-base bg-gray-900 border-gray-700 hover:bg-gray-800 rounded-lg  duration-300 transition-colors border px-8 py-2.5">
          <box-icon name="github" type="logo" color="white" class="h-[1.5rem] w-[1.5rem]"></box-icon>
          <span>Check out my Github</span>
          </a>
    </center>
</section>

